#main-header {
  border-bottom: 4px solid #000;
  position:relative;
  background-color: rgba(255,255,255,.8);
  width:100%;
}
body {
  font-family:monospace;
  font-weight: 300 !important; 
  background: rgb(255, 255, 255);
}
body h1  {
  font-weight: 400;
  margin: 20px, 30px;
  text-align: center;
}
#top-stories  {
  width: 1000px ;
  margin: auto;
  margin-top: 20px;
}
#site-title {
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}
article  {
  width: 30%;
  display: inline-block;
  border: 2px solid rgb(0, 0, 0);
  margin: 2px;
  padding: 10px;
  background:rgb(248, 225, 190);
  border-radius: 15px;
  text-shadow: 2px 2px 6px #000;
  box-shadow: 5px 10px 9px rgba(0,0,0,.6);
}
article img {
  width: 100%;
  height: 100%;
  border: 1px solid #000;
}
.article-image  {
  height: 200px;
  width: 100%;
  background-size: cover !important;
  background-position: center !important;
}
.more-link {
  font-style: italic;
}
a {
  text-decoration:underline;
  text-decoration-color: black;
  text-decoration-style: dotted;
}
p {
  word-spacing: .5px;
  
}
h3 {
  text-align: center;
}
#site-title {
  text-shadow: 2px 2px 10px #000;
}
a:hover {
  color:crimson;
}
.my-input {
  display:block;
  width: 90%;
  margin: 10px;
  padding:10px 20px;
  border-radius: 10px;
  border: 1px solid grey;
}
.my-input:focus {
  background-color: rgb(165, 255, 240);
  color: aquamarine;
  outline:none;
  border:1px solid black;
  border-radius: 10px;
  border: 1px solid grey;
}
article:active {
  opacity: .6;
}
/*pseudo states : focus, active, hover*/
.article-image {
  border-top-left-radius: 20px;
  border-bottom-right-radius: 20px;
}
#footer-terms{
  text-align: center;
}
#terms-of-service:hover {
  color:aquamarine; !important
}
