#main-header {
  border-bottom: 4px solid #000;
}
body {
  font-family:monospace;
  font-weight: 300 !important; 
  background: rgb(156, 246, 216);
}
body h1  {
  font-weight: 400;
  margin: 20px, 30px;
}
#top-stories  {
  width: 1000px ;
  margin: auto;
  margin-top: 20px;
}
#site-title {
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}
article  {
  width: 30%;
  display: inline-block;
  border: 2px solid rgb(0, 0, 0);
  margin: 2px;
  padding: 10px;
  background:rgb(248, 225, 190);
  border-radius: 15px;
  text-shadow: 2px 2px 6px #000;
  box-shadow: 5px 10px 9px rgba(0,0,0,.6);
}
article img {
  width: 100%;
  height: 100%;
  border: 1px solid #000;
}
.article-image  {
  height: 200px;
  width: 100%;
  background-size: cover !important;
  background-position: center !important;
}
.more-link {
  font-style: italic;
}
a {
  text-decoration:underline;
  text-decoration-color: black;
  text-decoration-style: dotted;
}
p {
  word-spacing: .5px;
  text-align: center;
}
h3 {
  text-align: center;
}